<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <title>about</title>
</head>
<body>
<h1>About me</h1>
<a th:href="@{/}">home</a>
<ol class="about">
    <li  th:text="${myName}">name</li>
    <li th:text="${myStreet}">street</li>
    <li th:text="${myCity}">city</li>
</ol>
<p th:text="|Ik ben ${myName} en woon in ${myStreet}, te ${myCity}|">text</p>
</body>
</html>